<header class="site-header">
  <nav class="navbar" aria-label="Main navigation">
    <div class="navbar-inner">

      <a class="brand" href="/">
        <img
          class="brand-logo"
          src="/images/amiibo-vault-logo.png"
          alt="Amiibo Vault logo"
        >

        <span class="brand-name">Amiibo Vault</span>
      </a>

      <button
        class="nav-toggle"
        id="nav-toggle"
        type="button"
        aria-label="Open navigation menu"
        aria-expanded="false"
        aria-controls="nav-links"
      >
        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="nav-links" id="nav-links">
        <a href="/">
          <i class="fa-solid fa-house"></i>
          Home
        </a>

        <a href="/amiibos">
          <i class="fa-solid fa-layer-group"></i>
          Browse
        </a>

        <a class="future-link" href="#" aria-disabled="true">
          <i class="fa-solid fa-star"></i>
          Wishlist
        </a>

        <a class="future-link" href="#" aria-disabled="true">
          <i class="fa-solid fa-heart"></i>
          Collection
        </a>
      </div>

      <div class="account-links">
        <a class="login-link future-link" href="#" aria-disabled="true">
          Log In
        </a>

        <a class="register-link future-link" href="#" aria-disabled="true">
          Register
        </a>
      </div>

    </div>
  </nav>
</header>