<%- include('./partials/header') %>

<h1>Amiibo Collector Hub</h1>

<p>
    Welcome to the Amiibo Collector Hub.
</p>

<p>
    Search amiibos, build collections, leave reviews,
    and submit trade requests.
</p>

<%- include('./partials/footer') %>